<div class="row" id="post-{{ post.id }}">
	<div class="col-sm-6 col-md-3">
		<h3><a href="{{ path('app_parabol_admin_core_bundle_' ~ type ~ '_post', {'slug' : post.slug }) }}">{{ post.title }}</a></h3>
		<hr />
		<div class="">
			{{ post.lead }}
		</div>	
	</div>	
</div>