<div class="col-sm-6 col-md-3">
	<div class="margin-0 table center-text">
        <div  class="table-cell" onclick="downloadFile('{{ file.path }}', '{{ file.getFilename }}')">
        	<div>
        		<h3>{{ file.headline ? file.headline : file.filename }}</h2>
        		{{ file.subheadline }}
        	</div>
        </div>
    </div>    	
</div>    	