html, body {
	height: 100%;
}

label {
	margin-top: 10px;
}

.form-group > .control-label.required::after {
    content: " *";
}

.form-model-field-translations > .form-group > .control-label.required::after {
    content: "";
}

.clear-left {
	clear: left !important;
}

.clear-right {
	clear: right !important;
}

.clear-both {
	clear: both !important;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
}
.fileinput-button input {
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 0px;
	opacity: 0;
	font-size: 200px;
	direction: ltr;
	cursor: pointer;
}

.template-download, .template-upload {
	padding: 0; width: 100px; height: 100px; margin: 10px 10px 10px 0
}

.btn {
	overflow: hidden;
}

.sort {

}

ul.files {
	list-style: none;
	padding-left: 0;
}

.sort li {
	height: 80px; width: 80px; background: red; float: left;
}

.sort .dragged, ul.files li.dragged {
	/*display: none;*/
}

ul.files span.preview {
	background: no-repeat center center / cover;
	width: 98px;
	height: 98px;
	display: block;
}
ul.files li:hover small.sizes {
position: absolute;
z-index: 1222121;
bottom: 0px;
left: 0;
width: 100%;
color: #fff;
background: rgba(0,0,0,0.8);
}

ul.files .placeholder {
		height: 100px; width: 100px;
}

ul.files .delete {
	font-size: 100%;
	padding: 0 7px;
}


.dragged {
  position: absolute;
  z-index: 2000;
  margin-top: -10px;
  margin-left: -10px;
}

.a2lix_translations .nav-tabs li:first-child:nth-last-child(1) {
	display: none;
}

div[data-prototype] > div {
	/*border-top: 1px solid #eee;*/
	border-bottom: 1px solid #eee;
	padding: 10px 0;
}

div[data-prototype] > div > label {
	display: none;
}

.form-model-type-collection {
	padding-bottom: 20px;
}

.form-model-type-datetime {
	position: relative;
	margin: 30px 0 10px;
}

.form-model-type-datetime label {
	position: absolute;
	left: 0;
	top: -25px;
}

.form-model-type-datetime .input-group {
	width: 230px;
}

.box .box-body.form-model-content {
	padding: 30px;
}

/*.radio label, .checkbox label {
	padding: 0;
}*/

.box .box-body.form-model-content .form-model-field {
	width: 80%;
}
.colorpicker {
	width: 80px;
}
.header .logo {
	display: none !important;
}
body > .header .navbar {
	margin-left: 0;
}

select.form-control {
	width: auto;
	min-width: 190px;
}
.box-body table td:first-child, .box-body table th:first-child {
	padding-left: 20px;
}


.gauge {
	position: relative;
}

.gauge .label {
    float: right;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #444;
}

.gauge .label-percent:after {
	content: '%';
	font-size: 50%;
	vertical-align: 55%;
}
.gauge .label-seconds:after {
	content: 's';
	font-size: 60%;
	vertical-align: 55%;
}

.bootbox-body .form-model-tab-pane .col-md-4 {
	width: 100%;
}

.bootbox-body fieldset {
	padding: 16px 16px 5px 16px;
}

.bootbox .modal-footer {
	padding-right: 33px;
	padding-left: 33px;
    padding-bottom: 28px;
}


.form-model .form-model-field[class$="-hidden"] {
	display: none;
}	

.row.placeholder {
	height: 40px;
	border-top: rgb(244, 244, 244) 1px solid;
}

.list-results-fields-row-array ul {
	padding-left: 15px;
}

.list-results-fields-row-objectactions .btn-group {
	padding-left: 0px;
}

.form-model-type-collection  > div > label {
	font-size: 150%;
	margin-top: 40px;
}

.form-model-type-collection  > div > div > div > div {
	clear: both;
	min-height: 58px;
}


.form-model-type-collection  > div > div > div > div > a {
	margin-top: 25px;
}
.form-model-type-collection  > div > div > div > div > div {
	float: left;
	padding-right: 10px;
}

/* AdminLTE fixes */

.sidebar-collapse .main-sidebar, .sidebar-collapse .left-side {
    transform: translate(0px, 0px) !important;
    width: 50px !important;
}

.main-header > .logo {
	display: none;
}
.main-sidebar {
	padding-top: 0 !important;
}
/* end */


@media print {
    /*.row > div {
    	float: none !important;
    }*/

    .content-wrapper {
    	margin-left: 0 !important;
    }
    aside.left-side {
    	display: none !important;
    }
}
.file-list .label {
	font-size: 90%;
	color: #999;
	width: 100px;
	margin-right: 10px;
	display: inline-block;
}

body .radio label, body .checkbox label {
	padding-left: 0;
}

body .bootstrap-datetimepicker-widget > ul {
	padding-left: 0;
}

body .box-body .datepicker  table td:first-child, .box-body .datepicker  table th:first-child {
	padding-left: 5px;	
}

.form-model-content > .alert {
	display: none;
}

.form-model-field-calories input, .form-model-field-ml input, .form-model-field-floz input, .form-model-field-bulk input, .form-model-field-servingsPerContainer input  {
	width: 150px !important;
}

.help {
	font-weight: lighter;
	color: #a8a8a8;
	font-size: 12px;
}

.help-block.error {
	color: #dd4b39 !important;
}

.form-model-type-collection .placeholder {
	list-style: none;
	min-height: 30px;
}

.form-model  .radio {
	float: left;
	margin: 5px 10px 10px;
}

.form-model  .radio:first-child {
	margin-left: 0;
}


.form-model-type-symfonycomponentformextensioncoretypecollectiontype div[data-prototype] > div > div > * {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}
.form-model-type-symfonycomponentformextensioncoretypecollectiontype div[data-prototype] > div .form-control {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
	width: auto;
	margin: 0 15px 0 5px;
}

.form-model-type-symfonycomponentformextensioncoretypecollectiontype > div > a {
	margin: 10px 0;
}

.user-panel .info {
	line-height: 70%;
	overflow: hidden;
}

.user-panel .info small {
	opacity: 0.5
}

.spin-loader {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -16px;
	margin-left: -16px;
	z-index: 10000;
}

.btn-default.btn-light {
	background-color: rgba(0,0,0,0.2);
	color: RGB(255, 255, 255);
	border-color: transparent;
}

.btn-danger.btn-light {
	background-color: rgba(0,0,0,0.2);
	color: rgb(249, 96, 78);
	border-color: transparent;
}

.progress {
	margin-bottom: 0;
}

.form-model-field-countries .checkbox {
	position: relative;
	display: inline-block;
	margin-top: 0;
	margin-bottom: 10px;
	min-width: 160px;
	margin-right: 30px;
	max-width: 160px;
	white-space: nowrap;
	overflow: hidden;
}



.form-group .col-3 > .form-group, .form-group .col-4 > .form-group, .form-group .col-5 > .form-group, .form-group .col-6 > .form-group   {
	clear: both;
	padding: 0 0 12px; 
	margin: 0;
}

.form-group .col-3 .form-group .form-group, .form-group .col-4 .form-group .form-group, .form-group .col-5 .form-group .form-group , .form-group .col-6 .form-group .form-group {
	 padding: 0 20px; float: left; box-sizing: border-box;
}

.form-group .col-3 .form-group .form-group {
	width: 33%;
}

.form-group .col-4 .form-group .form-group {
	width: 25%;
}
.form-group .col-5 .form-group .form-group {
	width: 20%;
}

.form-group .col-6 .form-group .form-group {
	width: 16.5%;
}

.form-group .col-3 .form-group .btn, .form-group .col-4 .form-group .btn, .form-group .col-5 .form-group .btn, .form-group .col-6 .form-group .btn {
	margin-top: 35px;
}

.form-group .col-3 .form-group .form-group:first-child, .form-group .col-4  .form-group .form-group:first-child, .form-group .col-5  .form-group .form-group:first-child, .form-group .col-6  .form-group .form-group:first-child {
	padding-left: 0;
}

.form-setting-container .form-group .btn-info { clear: both; float: left; margin: 10px 0 15px; }

.form-model-type-symfonycomponentformextensioncoretypecollectiontype [data-prototype] div div label {display: block; margin-left: 5px;}
.form-model-type-symfonycomponentformextensioncoretypecollectiontype [data-prototype] div div .btn { margin-top: 35px; }

.btn.import-csv { display: none; }