{% trans_default_domain "Admingenerator" %}

{% use "AdmingeneratorGeneratorBundle::flash.html.twig" %}
{{ block('flash_messages') }}
<section class="content-header">
     <h4>{{ title }}</h4>
</section>

{{ form_start(form) }}
{% include formTemplate with formParams %}
{{ form_end(form) }}
